*{
    padding: 0;
    margin:0;
}
p{
    text-align: center;
    font-weight: bold;
    font-size:30px
}
.jogo{
    width: 1000px;
    height: 400px;
    border: 1px solid black;
    margin: auto;
}
#dino{
    width: 100px;
    height: 100px;
    position: relative;
    top: 300px;
    left: -20px;
}
.animar{
    animation: pulo 300ms;
}
@keyframes pulo {
    0%{top: 300px;}
    30%{top: 200px}
    70%{top: 200px}
    100%{top: 300px;}
}
img{
    max-height: 100%;
    max-width: 100%;
}
#cacto{
    width: 100px;
    height: 100px;
    position: relative;
    top: 200px;
    left: 923px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 923px;}
    100%{left: -20px;}
}
